{% extends "base.html" %}
{% block title %}Email Config{% endblock %}
{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static '/styles/carousel.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/styles/forms.css' %}">
{% endblock %}


{% block nav-item %}
<li class="nav-item" id="about-screen"><a href="{% url 'login' %}?next=/">Login</a></li>
{% endblock %}


{% block content %}
<img class="banner" src="{% static 'images/fractal.png' %}" alt="cedaarlogo">
<div id="signup" class="hand">
    <h1>Activation Status</h1>
    <br>
    <br>
    <div class="center" style="height: 40vh;">
        <div class="confirmation">
            {% if success %}
            <h4 style="color:rgb(113, 192, 133); font-size: 24px;">{{ user }}, your account is confirmed!</h4>
            {% else %}
            <h4 style="color:rgb(221, 140, 140); font-size: 24px;">Sorry, your account is left unactivated!</h4>
            <br>
            {% endif %}    
            <!-- {% if message %}
            <p style="color:rgb(178, 231, 231);">{{message}}</p>
            <form method="post">
                {% csrf_token %}
                <input name="email" type="email" placeholder="Email">
                <br>
                <input name="password" type="password" placeholder="Password">
                <br>
                <div id="create-button">
                    <button type="submit">Send Email</button>
                </div>        
            </form>
            {% endif %} -->
        </div>
    </div>
</div>
{% endblock %}

{% block vuescript %}
<script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
    </script>
{% endblock %}