{% extends "base.html" %}
{% load static %}
{% block title %}Delete?{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static '/styles/blogstyle.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/styles/forms.css' %}">

<style>
    footer{
        position: relative;
        bottom: -9em;
    }
</style>
{% endblock %}

{% block nav-item %}
<li class="nav-item" ><a href="/posts/">Blog</a></li>                            
{% endblock %}

{% block nav-mobile %}
<li class="nav-mobile" ><a href="/posts/">Blog</a></li>
{% endblock %}

{% block content %}
<div id="signup" class="hand" style="position:relative; top:7em;">
    <div class="center">
        <div class="lpost">
            {% if object.thumbnail %}
            <img src="{{object.thumbnail}}">
            {% else %}
            <img src="https://mnfi.anr.msu.edu/element-images/1000/Great-Lakes-Marsh-3130.jpg">
            {% endif %}
            <div class="peek">
                <div style="text-align:center;margin-top:10px;margin: auto 0;" class="det">
                    <h2>{{ object.subject|truncatechars:33 }}</h2>
                    <p>By {{ object.author_str }}</p>
                    <p>{{ object.timestamp }}</p>    
                    <div id="categories">
                        {% for category in object.category.all %}
                        <div class="category">{{ category }}</div>
                        {% endfor %}
                    </div>                    
                </div>
                <div class="func">
                    <i class="fa fa-thumbs-up" style="font-size:24px;"><small style="font-family:sans-serif;margin-left:2px;">{{object.likes.count}}</small></i>
                    <i class="fa fa-comment" style="font-size:24px;"><small style="font-family:sans-serif;margin-left:2px;">{{object.comments.count}}</small></i>
                </div>

                <br>
                <!-- <p style="text-align:justify;overflow-y:hidden;max-height:">{{post.content|truncatechars:190}}</p> -->    
            </div>
        </div>
        <form method="post" class="delete-form">
            {% csrf_token %}
            <h1 style="font-family:'Limelight';color:rgb(188, 233, 218);">{{object.subject}}</h1>
            <br>
            <p>Are you sure you want to delete this post?</p>     
            <br><br>   
            <div id="create-button" class="delete">
                <button type="submit">Delete</button>
                <a class="cancel" href="{% url 'postview' object.id %}">Cancel</a>
            </div>
        </form>
    </div>
</div>
<br><br><br><br><br><br>
{% endblock %}