{% extends "base.html" %}
{% load static %}
{% block title %}Posts{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static '/styles/blogstyle.css' %}">
<link rel="stylesheet" type="text/css" href="{% static '/styles/extras.css' %}">
{% endblock %}

{% block nav-item %}
<li class="nav-item" id="about-screen"><a href="/#contact">Editors</a></li>
<li class="nav-item search-link"><a >Search</a></li>                            
{% if request.user.is_staff %}                            
<li class="nav-item "><a href="{% url 'create' %}">Create</a></li>                            
{% endif %}
{% if request.user.is_authenticated %}                            
<li class="nav-item" id="about-screen"><a href="{% url 'logout' %}?next={{ request.path|urlencode }}">Logout</a></li>
{% else %}
<li class="nav-item" id="about-screen"><a href="{% url 'login' %}?next={{ request.path|urlencode }}">Login</a></li>
<li class="nav-item" id="about-screen"><a href="{% url 'register' %}?next={{ request.path|urlencode }}">Register</a></li>
{% endif %}
{% endblock %}

{% block fixed %}
<div id="filter">
    <div id="search-bar">
        <form class="search" method="GET" action="/posts/">
            {% csrf_token %}
            <input type="search" placeholder="Search by Subject/Author" name="searched">
            <button id="search_btn" type="submit" name="search">Search</button>
        </form>    
    </div>
    <div id="catsearch">
        {% for item in categories %}
        <form method="POST" action="/posts/">
            {% csrf_token %}
            {% if item.is_active %}
            <button class="category" style="background-color: rgb(17, 194, 155);" type="submit" name="category" value="{{item.name}}">{{item.name}}</button>
            {% else %}
            <button class="category" type="submit" name="category" value="{{item.name}}">{{ item.name }}</button>
            {% endif %}
        </form>    
        {% endfor %}    
    </div>
</div>
{% endblock %}

{% block content %}
<!-- We need to add trending posts and filters by topics, infact, exploring the blog leads to the popular posts -->
<div id="grid" class="normal">
    <h1 class="posthead">Posts</h1>
    {% if posts.paginator.num_pages > 1 %}
    <div id="flex-paginator">
        <div class="paginator">
            <p>
                {% if posts.has_previous %}
                <a href="?page={{ posts.previous_page_number }}"><i class="fa fa-arrow-left" style="font-size:24px"></i></a>
                {% else %}
                <i class="fa fa-circle" style="font-size:24px; opacity:0; margin-right:2px;"></i>
                {% endif %}    
                {{posts.number}}/{{posts.paginator.num_pages}}
                {% if posts.has_next %}
                <a href="?page={{ posts.next_page_number }}"><i class="fa fa-arrow-right" style="font-size:24px"></i></a>
                {% else %}
                <i class="fa fa-circle" style="font-size:24px; opacity:0; margin-right:2px;"></i>
                {% endif %}    
            </p>
        </div>    
    </div>
    {% endif %}
    <hr>
    {% if posts %}
    <div id="combo">
        <div class="hands posts">
            {% for post in posts %}
                <div class="lpost animate__animated animate__zoomIn">
                    {% if post.thumbnail %}
                    <img src="{{post.thumbnail}}">
                    {% else %}
                    <img src="https://mnfi.anr.msu.edu/element-images/1000/Great-Lakes-Marsh-3130.jpg">
                    {% endif %}
                    <div class="peek">
                        <div style="text-align:center;margin-top:10px;margin: auto 0;" class="det">
                            <h2>{{ post.subject|truncatechars:33 }}</h2>
                            <p>By {{ post.author_str }}</p>
                            <p>{{ post.timestamp }}</p>    
                            <div id="categories">
                                {% for category in post.category.all %}
                                <div class="category">{{ category }}</div>
                                {% endfor %}
                            </div>                    
                        </div>
                        <div class="func">
                            {% if post.author == request.user %}
                            <a href="{% url 'postedit' post.pk %}" style="text-decoration:none;"><i class="fa fa-edit" style="font-size:24px;"></i></a>
                            <a href="{% url 'postdel' post.pk %}" style="text-decoration:none;"><i class="fa fa-trash" style="font-size:24px;"></i></a>                            
                            {% endif %}
                            {% if request.user in post.likes %}
                            <i class="fa fa-thumbs-up" style="font-size:24px;color:yellow;"><small style="font-family:sans-serif;margin-left:2px;">{{post.likes.count}}</small></i>
                            {% else %}
                            <i class="fa fa-thumbs-up" style="font-size:24px;"><small style="font-family:sans-serif;margin-left:2px;">{{post.likes.count}}</small></i>
                            {% endif %}
                            <i class="fa fa-comment" style="font-size:24px;"><small style="font-family:sans-serif;margin-left:2px;">{{post.comments.count}}</small></i>
                        </div>

                        <br>
                        <!-- <p style="text-align:justify;overflow-y:hidden;max-height:">{{post.content|truncatechars:190}}</p> -->    
                    </div>
                    <div class="more">
                        <h3><a href="{% url 'postview' post.pk %}">Read <span>More</span></a></h3>
                    </div>    
                </div>
            {% endfor %}
        </div>    
        <!-- <div class="container" id="sidebar">
            <p>The marsh is the most productive ecosystem, that outperforms the forest, and the coastal ecosystemsThe marsh is the most productive ecosystem, that outperforms the forest, and the coastal ecosystemsThe marsh is the most productive ecosystem, that outperforms the forest, and the coastal ecosystems</p>
        </div> -->
    </div>    
    {% else %}
<div id="empty">
    <div class="message">
        <h2>No posts found so far</h2>
    </div>
</div>
{% endif %}
<hr>
</div>

{% endblock %}

{% block footer %}
{% if posts.paginator.num_pages > 1 %}
<div class="paginator">
    <p>
        {% if posts.has_previous %}
        <a href="?page={{ posts.previous_page_number }}"><i class="fa fa-arrow-left"></i></a>
        {% else %}
        <i class="fa fa-circle" style="font-size:24px; opacity:0; margin-right:2px;"></i>
        {% endif %}    
        {{posts.number}}/{{posts.paginator.num_pages}}
        {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}"><i class="fa fa-arrow-right"></i></a>
        {% else %}
        <i class="fa fa-circle" style="font-size:24px;opacity:0; margin-left:2px;"></i>
        {% endif %}
    </p>
</div>
{% endif %}
<br>
<!--  -->
<form action="{% url 'subscribe' %}?next={{ request.path|urlencode }}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{request.GET.next}}" />
    <button class="subscribe">
        {% if request.user.is_subscribed %}
        Unsubscribe
        {% else %}
        Subscribe
        {% endif %}
    </button>    
</form>
<div id="bot-nav">
    <h4><a href="/#contact" id="con-link">Editors</a></h4>
    <h4><a href="/">Return</a></h4>
    <h4><a class="search-link">Search</a></h4>
    <h4><a href="#">Scroll up</a></h4>
</div>
{% endblock %}

{% block vuescript %}
<script>
    $(document).ready(function(){
        $(".search-link").click(function(){
            $("#filter").toggle(300);
            $("#grid").toggleClass('normal');
            $("#grid").toggleClass('pushDown');
        });
    });
</script>
<script>
    if ( window.history.replaceState ) {
      window.history.replaceState( null, null, window.location.href );
    }
    </script>
{% endblock %}
