.posthead h1{
    position: relative;
    font-family: 'Abril Fatface';
    text-align: center;
    font-size: 4rem;
    max-width: 100vw;
    text-transform: uppercase;
    color:rgb(185, 255, 234);
}

a{
    text-decoration: none;
    color: black;
    transition: 0.5s ease;
}

a:hover{
    text-decoration: none;
}

a::after{
    color: rgb(36, 173, 128);
}

#combo{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 1em 3em;
}

#grid{
    position: relative;
    display: block;
}

.normal{
    transition: 0.6s ease;
    padding-top: 5em;
}

.pushDown{
    transition: 0.6s ease;
    padding-top: 10em;
}

.posts{
    position: relative;
}

.hands{
    position: relative;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 290px);
    justify-content: center;
}

/* i{
    margin: 1em;
    height: 350px;
    width: 300px;
} */


.post-parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.animate__animated.animate__zoomIn {
    --animate-duration: 0.5s;
}

.lpost{
    position: relative;
    background-color: rgb(46, 75, 72);
    margin: 0.6em 0.6em;
    border: 4px solid white;
    height: 350px;
    width: 280px;
    overflow: hidden;
}

.lpost img{
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: 0.6s;
    transition-property: opacity;
}

.lpost .peek{
    position: absolute;
    z-index: 1;
    top:55px;
    display: flex;
    flex-direction: column;
    align-content: center;
    left:0;
    padding: 0.8em;
    color: #fff;
    width: 272px;
    height: 85%;
    opacity: 0;
    overflow: hidden;
    transition: 0.6s ease;
    transition-property: opacity, transform;
}

.lpost:hover img{
    opacity: 0.6;
    filter: brightness(70%) blur(1px);
}

    .lpost .peek h2{
        font-family: 'Limelight';
        font-size: 2rem;
        text-align: center;
        font-weight: 300;
        position: relative;
    }

    .lpost .more{
        position: absolute;
        bottom: -20px;
        font-family: 'Poppins';
        display: flex;
        font-size: 1.2em;
        background:rgb(53, 100, 95);
        color: rgb(152, 197, 197);
        justify-content: center;
        width: 100%;
        padding: 0.5em;
        height: 20%;
        opacity: 0;
        font-weight: 900;
        transition: 0.6s ease;
        transition-property: opacity, transform;    
    }

    .more a{
        color:rgb(106, 153, 139);
    }

    .more a:hover{
        color:rgb(185, 255, 234);
    }

    .lpost .peek p{
        font-family: 'Raleway';
        font-size: 1em;
        font-weight: 300;
        text-align: center;
    }

    .lpost:hover .more{
        opacity: 1;
    }

    .lpost:hover .peek {
        opacity: 1;
        transform: translateY(-58px);
    }

    #categories{
        position: relative;
        font-size: 10px;
        margin: 0.7em 0;
        flex-wrap: wrap;
        justify-content: center;
    }

    .center{
        flex-wrap: wrap;
    }

    form{
        padding: 0 1em;
    }

    form p{
        color: rgb(248, 217, 217)
    }

    @media only screen and (orientation: landscape) {  
        form{
            padding: 0em;
        }
    }    


    @media only screen and (min-width: 760px) and (orientation: landscape) {  
        .normal{
            padding-top: 5em;
        }
        
        .pushDown{
            padding-top: 10em;
        }

        #combo{
            min-height: 62vh;
        }
        
    }

