@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Raleway:wght@300&display=swap');

#grid h1{
    font-family: 'Abril Fatface';
    text-align: center;
    font-size: 4rem;
    max-width: 100vw;
    letter-spacing: 4px;
    color:rgb(185, 255, 234);
}

.email h1{
    padding: 1em 1em;
    background-color:rgb(142, 255, 199);
    font-size: 2rem;
    font-family: 'Poppins';
    color: rgb(22, 134, 101);
}

.email{
    background: rgb(105,176,154);
    background: radial-gradient(circle, rgba(105,176,154,1) 0%, rgba(57,76,80,1) 100%);
    font-family: 'Raleway';
    text-align: center;
    color: rgb(214, 255, 235);
}

.email h2{
    padding: 2em auto;
}

.email a{
    text-decoration: none;
    color: aquamarine;
}

.heath{
    position: relative;
    display: flex;
    justify-content: center;
}

.heath img{
    border-radius: 50%;
    height: 10em;
    min-width: 10em;
    width: 10em;
}

#catsearch{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 0.4em;
    overflow-x: auto;
}

#search-bar{
    display: flex;
    justify-content: center;
}

#search-bar form{
    padding: 0.6em;
}

button{
    cursor: pointer;
    border: none;
    background-color: transparent;
}

#catsearch button{
    font: inherit!important;
}

#search-bar button{
    width: 27%;
    font-size: 1.2em;
    background-color: rgb(27, 113, 189);
    color: #fff;
    border-radius: 4px;
    margin-left: 0.2em;
    padding: 5px;
    transition: 0.3s ease-in-out;
}

#search-bar button:hover{
    background-color:  rgb(54, 149, 233)
}

form input{
    font-size: 1.15rem;
    width: 67%;
    padding: 6px;
}

#search-btn button{
    font-size: 1.3rem;
}

#filter{
    display: none;
    font-weight: bold;
    font-family: 'Raleway';
    color: rgb(19, 26, 24);
    position: relative;
    padding-bottom: 1em;
}

#post-list{
    flex: 4;
    overflow-y: scroll;
}

.container{
    position: relative;
    padding: 2em;
}

#empty{
    width: 100%;
    height: 66vh;
    padding: 32vh 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.paginator{
    font-family: 'Comfortaa';
    width: 40vw;
    border-radius: 25px;
    padding: 0.5em;
    background-color: rgb(185, 226, 233);
}

#flex-paginator{
    display: flex;
    justify-content: center;
    margin-bottom: 0.8em;
}

.paginator p{
    font-size: 20px;
    text-align: center;
    color: black;
}

.paginator .fa{
    color: rgb(66, 138, 151);
    font-size:24px;
    margin: 0 4px; 
    transition: 0.2s ease;
}

.paginator .fa:hover{
    font-size: 26px;
    color: rgb(27, 54, 59);
}

.message{
    color: rgb(185, 226, 233);
    font-family: 'Raleway';
    height: 10vh;
}

 @media only screen and (min-width: 768px) and (orientation: portrait) {
    #filter{
        padding: 1em 20%;
    }    
    #flex-paginator{
        display: none;
    }
    .paginator{
        width: 13vw;
    }
}

@media only screen and (min-width: 768px) and (orientation: landscape) {
    #flex-paginator{
        display: none;
    }

    .paginator{
        width: 10vw;
    }
}


 /* @media only screen and (max-height: 700px) and (orientation: landscape) {
     } */ 
